body{
    background-color: rgba(231, 26, 60, 0.651);
    border-radius: 10px;
}
.title{
    color: #000;
}
@media (max-width: 768px) {
    .container {
        max-width: 100%; /* Ancho máximo del bloque al 100% en dispositivos pequeños */}
    }
.conteiner{
    width: 100%;
            max-width: 600px; /* Establece el ancho máximo del bloque */
            margin: 0 auto; /* Centra el bloque horizontalmente */
        }

.btn-primary a {
    color: rgb(0, 0, 0); /* Cambia el color a tu preferencia */
    text-decoration: none; /* Elimina el subrayado de los enlaces si lo deseas */
    font-size: 40px;
    font-weight: bold;
}

.conteiner2{ width: 100%;
    max-width: 600px;margin: 0 auto;}
   
    @media (max-width: 768px) {
        .container { font-size: 20px;
            max-width: 100%; /* Ancho máximo del bloque al 100% en dispositivos pequeños */}
        }
        .text-color-custom {text-decoration: none; 
           
            color: #000000; /* Cambia el color a tu preferencia utilizando un código hexadecimal o un nombre de color */
        }