body{
    background-image: url('imagenes/fondo\ pagina.png');
  background-size: cover; /* Para cubrir todo el área del body */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar repetición de la imagen */
    background-color: rgb(172, 127, 255);
}
.plantilla{
    display: flex;
    flex-wrap: wrap;
   
}

.plan{
    flex-grow: 1;
    flex-basis: 200;
    width: 300px;
    height: 350px;
   
    margin: 5px;
    color: blueviolet;   
}
.card-body {
    background-color: rgb(67, 75, 61);
    
    font-size: 20px;
    border-radius: 5px;
}
.card-title {
    font-weight: bold;
    
   color: brown;
}