body{
    background-image: url('imagenes/fondo\ pagina.png');
  background-size: cover; /* Para cubrir todo el área del body */
  
  background-repeat: no-repeat; /* Evitar repetición de la imagen */

}
.title{
    background-image: url('imagenes/titulo.jpg');
    background-size: cover; /* Para cubrir todo el área del body */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    
    border-radius: 20px;
font-size: 40px;
color: rgb(0, 0, 0);

}

.conteiner{
    display: flex;
    flex-wrap: wrap;
}

.card{
    flex-grow: 1;
    flex-basis: 200;
    width: 600px;
    height: 650px;
    background-color: blue;
    margin: 5px;
    color: black;
}

