body{   font-weight: bold;
    background-image: url('imagenes/fondo\ pagina.png');
  background-size: cover; /* Para cubrir todo el área del body */
  
  background-repeat: no-repeat; /* Evitar repetición de la imagen */

}
.title{
    background-image: url('imagenes/titulo.jpg');
    background-size: cover; /* Para cubrir todo el área del body */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    
    border-radius: 20px;
font-size: 40px;
color: rgb(0, 0, 0);

}

.conteiner{
    display: flex;
    flex-wrap: wrap;
}

.card1{
    

    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
 

    flex-grow: 1;
    flex-basis: 200;
    width: 250px;
     height: auto;
    display: block;
    
    background-color: rgb(255, 255, 255);
    margin: 5px;
    color: rgb(117, 4, 4);
}

.card{
  
        background-image: url('imagenes/fondo\ bloque\ salud.jpeg');
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
        background-position: center; /* Centra la imagen en el contenedor */
    font-size: 14px;
        flex-grow: 1;
        flex-basis: 200;
        width: 650px;
         height: auto;
  
        margin: 5px;
        color: rgb(117, 4, 4);
    }